<div class="ui message">
  <div class="ui header">Ajouter</div>
  <div class="ui input">
    {{input type="text" value=model.copy.identity class="ui input"}}
  </div>
  <button {{action "save" model}} class="ui button green"><i class="check icon"></i> Valider</button>
  <button {{action "cancel" model}} class="ui button"><i class="remove icon"></i>Annuler</button>
</div>
{{outlet}}