<div class="nav" style="background-color: #b3d7ff;">
  <h4>TD1</h4>
  <a class="btn btn-primary" style="margin-left: 5px;" href="ex1">ex1</a>
  <a class="btn btn-primary" style="margin-left: 5px;" href="ex2">ex2</a>
</div>
{{outlet}}