<div class="nav">
  <h4> TD1 </h4>
  <a class="btn btn-primary" style="margin-left: 5px;" href="ex1">Exercice 1</a>
  <a class="btn btn-primary" style="margin-left: 5px;" href="ex2">Exercice 2</a>
</div>
{{outlet}}