<div class="nav" style="background-color: #b3d7ff; padding-top: 10px;padding-bottom: 10px;">
  <h4> TD1 </h4>
  <a class="btn btn-primary" style="margin-left: 5px;" href="ex1">Exercice 1</a>
  <a class="btn btn-primary" style="margin-left: 5px;" href="ex2">Exercice 2</a>
</div>
{{outlet}}