<div class="container">
  <div style="padding-bottom: 15px">
    {{#link-to "developers.new" class="ui inverted green button"}}
      <i class="add icon"></i> Ajouter un développeur
    {{/link-to}}
  </div>
  <ul class="list-group">
    {{#each model as |dev|}}
      <li class="list-group-item">
        {{dev.identity}}
        <button {{action "delete" dev}} class="ui inverted circular button red right floated">
          <i class="remove icon"></i>
        </button>
        {{#link-to "developers.edit" dev class="ui inverted circular button blue right floated"}}
          <i class="edit icon"></i>
        {{/link-to}}

      </li>
    {{/each}}
  </ul>
  {{outlet}}
</div>
